<div class="main-div">
<mat-card class="timer-card">
<mat-card-content align="center">
    <p class="timer-text">Time: {{leftTime | timeConvert }}</p>
</mat-card-content>
<mat-card-actions align="center">
    <button mat-raised-button id="startButton" (click)="StartTimer()">{{startButtonText}}</button>
    <button mat-raised-button id="pauseButton" >Pause</button>
</mat-card-actions>
<mat-form-field class="example-full-width">
    <mat-label>Note:</mat-label>
    <textarea matInput placeholder="Enter your note here..."></textarea>
  </mat-form-field>
</mat-card>
</div>