.home-card {
    width: 100vh;
    height: 50vh;
}

.main-div{
    margin-top: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text{
    font-size: 30px;
}

.content-text{
    font-size: 18px;
}